@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    font-family: 'EB Garamond', serif;
}

.container{
    
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hex-colors{
    text-align: center;
}

.hex-colors h1{
    font-size: 2rem;
    text-transform: uppercase;
    animation: colorchange 5s infinite alternate;
}

.hex-colors h2{
    font-size: 2rem;
    margin-top: 15%;
}

@keyframes colorchange{
    0%{
        color: red
    }
    15%{
        color: orange
    }
    30%{
        color: yellow   
    }
    45%{
        color: green
    }
    60%{
        color: blue
    }
    75%{
        color: indigo
    }
    88%{
        color: violet
    }

}

@media(max-width:480px){
    .hex-colors h1{
        font-size: 1.5rem;
    }
    .hex-colors h2{
        font-size: 1.5rem;
    }
}