@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');

body{
    font-family: 'EB Garamond', serif;
}

.container{
    
    width: 95%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}